/* space needs to be added at the top of the page because the header is in the way */
body {
  margin: 0; /* Remove default margin */
  padding-top: 30px; /* Add padding to the top */
}



.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav,

#main > nav {
  order: -1;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

/* Making the bar for the header that will appear for intuative navigation of the site, setting size, colour, etc */
.headerbar{
  position: fixed;
  border: 2px;
  background-color: #607196;
  margin: 0px;
  display: flex;
  border-radius:0px;
  width:100%;
  left:0;
  top:0;

}

.leftButton{
  padding:10px;
  color:black;
  text-decoration: none;
  padding-right:10px;
  padding-left:10px;
  text-align: left;
}

.leftButton:hover{
  background-color: #FF7B9C;
}

.basketButton{
  padding:10px;
  color:black;
  text-decoration: none;
  padding-right:10px;
  text-align: right;
  margin-left: auto;
}

.basketButton:hover{
  background-color: #FF7B9C;
}
