<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwiftCart</title>
    <link rel="stylesheet" href="/static/CSS/main.css">


    <script>
        function homeClick() {
          location.replace('/admin')
        }
      </script>
</head>
<body id = 'formBody'>

    <div class = 'topnav'>
        <img src = "./static/CSS/image-removebg-preview.png" alt="Home Button" onclick="homeClick()" style="width: 150px; height: auto;">
        <div class= 'topnav-right'>
        <a class="basketButton" href="/logout">Logout</a>
        </div>
      </div>

    


    {% if not action %}
    <div class="form-container">
        <p class="title">Admin Dashboard options</p>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class = "sign" type = "submit" name="action"  value = "view">View and edit products</button>
            <br>
            <button class = "sign" type = "submit" name="action" value = "add">Add Products</button>

            {% if newProductID %}
            <p>A new product has been created with the ID {{newProductID}}</p>

            {% endif %}

        </form>
    </div>
    {% endif %}


    {% if action == "view" %}
    <div class = "product-container">
        {% for product in products %}
        <div class="product-box">
            <img src="/static/CSS/images/{{ product.productImg }}" alt='{{ product.productImg}}'>
            <h3 class="title">{{ product.productName }}</h3>
            <p>Product ID: {{ product.productID }}</p>
            <p>Quantity in Stock: {{product.productQuant}}
            <p>Current availability: {{product.productAvailability }}</p>
            <p class="product-price">£{{ product.productCost }}</p>
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="productID" value="{{ product.productID }}">
  
            <button class="sign" type = "submit" name="action" value = 'remove'>Remove Product</button>
            <br>
            <button class="sign" type = "submit" name="action" value = 'quantity'>Change Quantity</button>
            <br>
            <button class="sign" type = "submit" name="action" value = 'price'>Change Price</button>

            {% if quantity %}
            <input type="hidden" name="productID" value="{{ product.productID }}">
            <input class="productInput" type="number" id="quantity-{{ product.productID }}" name="quantity" min="1" required>
            <br>
            <button class="sign" type = "submit" name="action" value = 'submitQuantity'>Confirm</button>
            {% endif %}

            {% if price %}
            <input type="hidden" name="productID" value="{{ product.productID }}">
            <div class="input-group">
                <label for="house">New Price: </label>
                <input type="number" id="quantity-{{ product.productID }}" name="priceVal" min="1" required>
              </div>
            <button class="sign" type = "submit" name="action" value = 'submitPrice'>Confirm</button> 
            {% endif %}

            </form>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if action == "add" %}
    <div class = "form-container">
        <p class="title">Create a new product</p>
    <form method = 'POST' enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class = "input-group">
        <label for="prodName">Name of product:</label>
        <input type="text" id="prodName" name="prodName" required>
        </div>  
        <div class = "input-group">
        <label for="prodCost">Cost: £</label>
        <input type="number" id="prodCost" name="prodCost" step="0.01" required>
        </div>
        <div class = "input-group">
        <label for="productImg">Product image:</label>
        <input type="file" id="productImg" name="productImg" accept="image/*" required>
        </div>
        <div class = "input-group">
        <label for="productQuant">Total Quantity:</label>
        <input type="number" id="productQuant" name="productQuant" required>
        </div>   
        <button class = "sign" type="submit" name="action" value="submitProduct" id="submit-button">Submit</button>
    </form>
    </div>
    {% endif %}
</body>
</html>