<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Basket</title>
    <link rel="stylesheet" href="/static/CSS/main.css">
</head>
<body>
    <header>
        <div class="headerbar">
            <a class="leftButton" href="/shop/{{ userId }}">Continue Shopping</a>
            <a class="leftButton" href="/logout">Logout</a>
        </div>
    </header>

 
    <main>
        {% if basketItems %}
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for basketItem in basketItems %}
                <tr>
                    <td>{{ basketItem.itemName }}</td>
                    <td>{{ basketItem.basketQuant }}</td>
                    <td>{{ basketItem.basketPrice }}</td>
                    <td class="action-buttons">
                        <form action="/basket/{{ userId }}" method="POST">
                            <button type="submit">Remove Item</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" style="text-align: right; font-weight: bold;">Total Price:</td>
                    <td colspan="2" style="font-weight: bold;">£{{ totalPrice }}</td>
                </tr>
            </tbody>
        </table>

        
        <div class="checkout-button">
            <form method="POST" action="/checkout/{{ userId }}">
                <button type="submit">Proceed to Checkout</button>
            </form>
        </div>
        {% else %}
        <div class="empty-basket">
            <p>Your basket is empty. <a href="/shop/{{ userId }}">Start shopping now!</a></p>
        </div>
        {% endif %}


    </main>
</body>
</html>
