<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Basket</title>
    <link rel="stylesheet" href="/static/CSS/main.css">
</head>
<body id ="formBody">
    <div class = 'topnav'>
        <img src = "/static/CSS/image-removebg-preview.png" alt="Home Button" onclick="homeClick()" style="width: 150px; height: auto;">
        <div class = "topnav-right">
        <a class="basketButton" href='/userDash/{{ userId }}'>User Dashboard</a>
        <a class="basketButton" href="/basket/{{ userId }}">Basket</a>
        <a class="basketButton" href="/logout">Logout</a>
        </div>
    </div>

 
    <main>
        {% if basketItems %}
        <table class = "invoiceContainer">
            <thead class="invoiceTable">
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price per item</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for basketItem, productName in basketItems %}
                <tr>
                    <td>{{ productName }}</td>
                    <td>{{ basketItem.basketQuant }}</td>
                    <td>£{{ basketItem.basketPrice }}</td>
                    <td>£{{ basketItem.basketPrice * basketItem.basketQuant }}</td>
                    <td class="action-buttons">
                        <form action="/basket/{{ userId }}" method="POST">
                            <input type="hidden" name="basketID" value="{{ basketItem.basketID }}">
                            <button type="submit" name="action" value="remove">Remove Item</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="3" style="text-align: right; font-weight: bold;">Total Price:</td>
                    <td colspan="2" style="font-weight: bold;">£{{ totalPrice }}</td>
                </tr>
            </tbody>
        </table>

        <div class="checkout-button">
            <form method="POST" action="/checkout/{{ userId }}">
                <button type="submit">Proceed to Checkout</button>
            </form>
        </div>
        {% else %}
        <div class="empty-basket">
            <p>Your basket is empty. <a href="/shop/{{ userId }}">Start shopping now!</a></p>
        </div>
        {% endif %}


    </main>
</body>
</html>
