<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Rentals</title>
    <link href="/static/CSS/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <script>
    function homeClick() {
      location.replace('/shop/{{ userId }}')
    }
  </script>


  <!-- TODO stripe functionality? -->
 
<body id="formBody"> 
  <div class = 'topnav'>
    <img src = "/static/CSS/image-removebg-preview.png" alt="Home Button" onclick="homeClick()" style="width: 150px; height: auto;">
    <div class = "topnav-right">
    <a class="basketButton" href='/userDash/{{ userId }}'>User Dashboard</a>
    <a class="basketButton" href="/basket/{{ userId }}">Basket</a>
    <a class="basketButton" href="/logout">Logout</a>
    </div>
  </div>
  <!-- If a user has not paid, the payment entry screen is returned -->
    {% if not paid %}
  <div class="form-container">
    <p class="title">Checkout</p>
    <form action="/checkout/{{ userId }}" method="post">
      <div class="input-group">
        <label for="cardNum">Card Number</label>
        <input type="text" id="cardNum" name="cardNum" required>
      </div>

      <div class="input-group">
        <label for="expiryDate">Expiry Date</label>
        <input type="month" id="expiryDate" name="expiryDate" required>
      </div>

      <div class="input-group">
        <label for="CVV">CVV number</label>
        <input type="text" id="CVV" name="CVV" required>
      </div>
      <button class="sign" type="submit" name="action" value="submit">Purchase</button>
    </form>
  </div>
  {% endif %}


  <!-- Displays succesfull payment messagesS -->
  {% if paid %}
  <div class = "form-container">
    <p>Payment successful! View Invoices on your user dashboard</p>
  </div>
  {% endif %}

</body>
</html>