
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwiftCart</title>
    <link href="/static/CSS/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <script>
    // Returns a user to the home page when clicking the logo
    function homeClick() {
      location.replace('./index')
    }
  </script>

<body id="formBody">
  <div class = 'topnav'>
    <img src = "/static/CSS/image-removebg-preview.png" alt="Home Button" onclick="homeClick()" style="width: 150px; height: auto;">
  </div>

  <div class="form-container">
    <p class="title">Login</p>
    <form class="form" method = "post">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
      </div>
      <button class="sign" type="submit" name="action" value="login">Sign in</button>
    </form>

    <!-- Creates the sign up URL -->
    <div class="social-message">
    <div class="line"></div>
    <p class="signup">Don't have an account?
      <a rel="noopener noreferrer" href="/signup" class="">Sign up</a>
    </p>
    </div>

    {% if failed_login %}
  <table >
    <tr>
      <td class = "errorCentre">Invalid Username or Password</td>
    </tr>
  </table>
{% endif %}
{% if error %}
  <table >
    <tr>
      <td  class = "errorCentre">Invalid Username or Password.</td>
    </tr>
  </table>
{% endif %}
  </div>
  </div>
</form>






</body>
</html>