
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwiftCart</title>
    <link href="static/CSS/main.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      rel="stylesheet"
    />

  <script>
    function homeClick() {
      location.replace('./index')
    }
  </script>

  </head>



  <body id = "shopBody">
    <div class = 'topnav'>
      <img src = "/static/CSS/image-removebg-preview.png" alt="Home Button" onclick="homeClick()" style="width: 150px; height: auto;">
      <div class = "topnav-right">
        <a class="basketButton" href = './login'>Login</a>
      </div>
    </div>




    

<!-- Iterates through the products, displaying information for each product on the screen -->
<div class="product-container">
  {% for product in products %}
  {% if product.productAvailability == 1 %}
  <div class="product-box">
    <img src="/static/CSS/images/{{ product.productImg }}" alt='{{ product.productImg}}'>
    <h3 class="title-product">{{ product.productName }}</h3>
    <p class="product-price">£{{ product.productCost }}</p>
    <input class="productInput" type="number" id="quant" name="quant" required>
    <form method="POST" action="/index">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button class="sign" type = "submit" name="action" value = 'submit'>Please login to add to cart</button>
    </form>
  </div>
  {% endif %}
  {% endfor %}
</div>

</body>




</html>
