<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwiftCart</title>
    <link href="/static/CSS/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <script>
    function homeClick() {
      location.replace('./index')
    }
  </script>

 
<body id="formBody"> 
  <div class = 'topnav'>
    <img src = "/static/CSS/image-removebg-preview.png" alt="Home Button" onclick="homeClick()" style="width: 150px; height: auto;">
  </div>

  <div class="form-container">
    <p class="title">Sign Up</p>
    <form action="/signup" method="post">

      <div class="input-group">
        <label for="username">Username:</label>
        <input type="email" id="username" name="username" required>
      </div>

      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="input-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="input-group">
        <label for="house">House Number:</label>
        <input type="number" id="house" name="house" required>
      </div>
      <div class="input-group">
        <label for="street">Street Name:</label>
        <input type="text" id="street" name="street" required>
      </div>

      <div class="input-group">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
      </div>

      <div class="input-group">
        <label for="Postcode">Postcode:</label>
        <input type="text" id="postcode" name="postcode" required>
      </div>

      <button class="sign" type="submit" name="action" value="submit">Submit</button>


      {% if failed_signup %}
        <table >
          <tr>
            <td class = "errorCentre">Invalid credentials. Usernames and passwords must be a minimum length of 8 characters and passwords require a number.</td>
          </tr>
        </table>  
      {% endif %}
      {% if inUse %}
      <table >
        <tr>
          <td class = "errorCentre">Email is already in use</td>
        </tr>
      </table>  
      {% endif %}

    </form>
  </div>

<!-- 


  <button type="submit" name="action", value="submit">submit</button> -->
  {% if failed_login %}
  <p>Invalid Username or Password</p>
  {% endif %}
  {% if error %}
  <p>Invalid Username or Password.</p>
  {% endif %}



</body>
</html>