<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Main Page</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Rentals</title>
    <link href="/static/CSS/main.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class = 'headerbar'>
      <a class="leftButton" href = './shop.html'>Home</a>
      <a class="leftButton" href = './login.html'>Exit</a>
      <a class="basketButton" href="/basket/{{ userId }}">Basket</a>
      <span class="basket-count">{{ basket_count }}</span>
      <a class="leftButton" href="/logout">Logout</a>

    </div>

    <h1>Welcome back, Arabelle</h1>
    <div class="container">
      <!-- Iterates through products in database, creates entry on site for each -->
      {% for product in products %}
      <form action="/shop/{{ userId }}" method="POST">
        <div class="item">
            <p>Product ID: {{ product.productID }}</p>
            <img src="{{ product.productImg }}" alt="Product Image">
            <h3>{{ product.productName }}</h3>
            <p>Price: ${{ product.productCost }}</p>
            <label for="quant">Quantity:</label>
            <input type="number" id="quant" name="quant" required min="1" value="1">
            <!-- Hidden field for productId -->
            <input type="hidden" name="productId" value="{{ product.productID }}">
            <button type="submit">Add to Cart</button>
        </div>
      </form>
      {% endfor %} 
    </div>

    <script>
        // Mock cart for demonstration
        let cart = [];

        function addToCart(itemName) {
            cart.push(itemName);
            alert(`${itemName} added to cart!`);
            console.log('Cart:', cart);
        }

    </script>
</body>
</html>
