<!-- Change info -->
 <!-- View invoices -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwiftCart</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link href="/static/CSS/main.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      rel="stylesheet"
    />

    <script>
      function homeClick() {
        location.replace('/shop/{{ userId }}')
      }
    </script>

  </head>
  <body id = 'formBody'>
    <div class = 'topnav'>
      <img src = "/static/CSS/image-removebg-preview.png" alt="Home Button" onclick="homeClick()" style="width: 150px; height: auto;">
      <div class = "topnav-right">
      <a class="basketButton" href='/userDash/{{ userId }}'>User Dashboard</a>
      <a class="basketButton" href="/basket/{{ userId }}">Basket</a>
      <a class="basketButton" href="/logout">Logout</a>
      </div>
    </div>


    {% if not info and not addressChange and not passwordChange and not emailChange and not invoice%}
    <div class="form-container">
        <p class="title">User Dashboard options</p>
        <form action="/userDash/{{ userId }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class = "sign" type = "submit" name="action" value = "invoice">View invoices</button>
            <br>
            <button class = "sign" type = "submit" name="action" value = "infoChange">Change personal information</button>
        </form>
    </div>
    {% endif %}

    {% if invoice %}
    <div class="invoiceContainer">
      <table class="invoiceTable">
          <thead>
              <tr>
                  <th>Order ID</th>
                  <th>Order Date</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
              </tr>
          </thead>
          <tbody>
              {% for order in returnedOrder %}
              <tr>
                  <td>{{ order[0] }}</td> <!-- Order ID -->
                  <td>{{ order[1] }}</td> <!-- Order Date -->
                  <td>{{ order[4] }}</td> <!-- Product Name -->
                  <td>{{ order[3] }}</td> <!-- Quantity -->
                  <td>{{ order[2] }}</td> <!-- Price -->
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    {% endif %}
    


    {% if info %}
    <!-- change address, change password, change email -->
    <div class ="form-container">
      <p class="title">Change your personal information:</p>
      <form action="/userDash/{{ userId }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class = "sign" type ="submit" name="action" value = "address">Change address</button>
        <br>
        <button class = "sign" type ="submit" name="action" value = "password">Change Password</button>
        <br>
        <button class = "sign" type ="submit" name="action" value = "email">Change Email</button>
      </form>

    </div> 
    {% endif %}

    {% if addressChange %}
    <div class="form-container">
        <p class="title">Change address</p>
        <form action="/userDash/{{ userId }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="input-group">
            <label for="house">House Number:</label>
            <input type="number" id="house" name="house" required>
          </div>
          <div class="input-group">
            <label for="street">Street Name:</label>
            <input type="text" id="street" name="street" required>
          </div>
    
          <div class="input-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
          </div>
    
          <div class="input-group">
            <label for="Postcode">Postcode:</label>
            <input type="text" id="postcode" name="postcode" required>
          </div>
    
          <button class="sign" type="submit" name="action" value="submitAddress">Submit</button>
        </form>
      </div>

    {% endif %}

    {% if passwordChange %}
    <div class="form-container">
        <p class="title">Change Password</p>
        <form action="/userDash/{{ userId }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="input-group">
            <label for="oldPassword">Old Password:</label>
            <input type="text" id="oldPassword" name="oldPassword" required>
          </div>

          <div class="input-group">
            <label for="newPassword">New Password:</label>
            <input type="text" id="newPassword" name="newPassword" required>
          </div>
    
          <button class="sign" type="submit" name="action" value="submitPassword">Submit</button>
        </form>
      </div>
    {% endif %}

    {% if emailChange %}
    <div class="form-container">
        <p class="title">Change email</p>
        <form action="/userDash/{{ userId }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="input-group">
            <label for="email">New Email:</label>
            <input type="text" id="email" name="email" required>
          </div>
    
          <button class="sign" type="submit" name="action" value="submitEmail">Submit</button>
        </form>
      </div>

    {% endif %}






</body>
</html>


